[alias]
  graph = log --all --decorate --oneline --graph

  # `git log` with patches shown with difftastic.
  dl = -c diff.external=difft log -p --ext-diff

  # Show the most recent commit with difftastic.
  ds = -c diff.external=difft show --ext-diff

  # `git diff` with difftastic.
  dft = -c diff.external=difft diff
[init]
	defaultBranch = main
